@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
:root{
  --font-family: 'Manrope', sans-serif;
 
  --gradienttext: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A76;

  
.move{
  fontsize: 7px !important:
}

#worth{
  var: --font-family;

  border: 2px solid white;
  border: 2px solid black;
}

.stayyytr__lip{
  padding: 9px;

}

#data_x{
  padding: 90px 10px;
  height: 900px;
  margin: 17px;
  padding-bottom: 70px;
  spacing: top;
  border: 5px solid black;
}
.ai{
  padding: 80px;
}
